body {
  font-family: "Noto Sans JP", sans-serif;
  color: #333;
}

img {
  height: auto;
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* header */
.header {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 94px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #fff;
}
.header-inner {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.header-logo {
  display: flex;
  align-items: center;
}
.header-logo img {
  width: 50px;
  height: 50px;
}
.header-title {
  font-size: 24px;
  font-weight: bold;
  margin-left: 15px;
}
.header-nav ul {
  display: flex;
  justify-content: space-between;
}
.header-nav ul li {
  text-align: center;
  margin-right: 45px;
}
.header-nav ul li a {
  color: #333;
  font-weight: bold;
}
.header-btn a {
  font-size: 14px;
  color: #fff;
  background: linear-gradient(to right, #fa41cc, #6020b0);
  padding: 10px 50px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  text-align: center;
}

/* main */
.main {
  background-image: url(../img/circle.png);
  background-position: top 105% right 10%;
  background-size: 43%;
  background-repeat: no-repeat;
  position: relative;
}
.main-inner {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 230px;
  padding-bottom: 150px;
}
.main-copy {
  text-align: left;
}
.main-copy h2 {
  font-size: 32px;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 45px;
}
.main-copy p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  margin-bottom: 45px;
}
.main-copy a {
  font-size: 14px;
  color: #fff;
  background: linear-gradient(to right, #fa41cc, #6020b0);
  padding: 10px 50px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  text-align: center;
}
.main-img {
  position: absolute;
  right: 25%;
  top: 29%;
  z-index: 1000;
}

/* feature */
.feature-inner {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
  padding-bottom: 150px;
}
.feature h2 {
  font-size: 32px;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
.feature-subtitle {
  color: #3ba6c9;
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  margin-bottom: 55px;
  text-align: center;
}
.feature-wrapper {
  padding-bottom: 60px;
}
.feature-wrapper h3 {
  font-size: 28px;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 50px;
  text-align: center;
}
.feature-wrapper img {
  width: 40%;
}
.feature-container {
  display: flex;
}
.feature-container-reverse {
  display: flex;
  flex-direction: row-reverse;
}
.feature-text {
  text-align: left;
  margin-left: 110px;
}
.feature-text h4 {
  font-size: 24px;
  line-height: 2;
  font-weight: bold;
  margin-bottom: 45px;
}
.feature-text p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: bold;
}
.feature-text-reverse {
  text-align: left;
  margin-right: 135px;
}
.feature-text-reverse h4 {
  font-size: 24px;
  line-height: 2;
  font-weight: bold;
  margin-bottom: 45px;
}
.feature-text-reverse p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: bold;
}

/* price */
.price {
  background-color: #eefbfb;
}
.price-inner {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 65px;
}
.price h2 {
  font-size: 32px;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
.price-subtitle {
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  text-align: center;
  color: #3ba6c9;
  margin-bottom: 70px;
}
.price-table {
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  margin-bottom: 35px;
}
.price-table tr {
  border: 1px solid #e5e5e5;
}
.price-table th {
  border-right: 1px solid #e5e5e5;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.7;
  width: 30%;
  padding: 35px 20px;
}
.price-table td {
  font-size: 16px;
  line-height: 1.7;
  font-weight: bold;
  padding-left: 30px;
}
.price p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: bold;
  text-align: center;
}

/* faq */
.faq-inner {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 55px;
  padding-bottom: 85px;
}
.faq h2 {
  font-size: 32px;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
.faq-subtitle {
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  text-align: center;
  color: #3ba6c9;
  margin-bottom: 30px;
}
.faq ul li {
  border: 1px solid #e5e5e5;
  text-align: center;
}
.faq ul li h3 {
  font-size: 14px;
  line-height: 1.8;
  font-weight: bold;
  padding: 5px 0;
}
.faq ul li p {
  font-size: 14px;
  line-height: 1.8;
  font-weight: bold;
  text-align: left;
  background-color: #f2f2f2;
  padding: 15px 0 10px 35px;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */