body {
  font-family: "Noto Sans JP", sans-serif;
  color: #333;
}

img {
  height: auto;
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* header */
.header {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 94px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #fff;
}
.header-inner {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.header-logo {
  display: flex;
  align-items: center;
}
.header-logo img {
  width: 50px;
  height: 50px;
}
.header-title {
  font-size: 24px;
  font-weight: bold;
  margin-left: 15px;
}
.header-nav ul {
  display: flex;
  justify-content: space-between;
}
.header-nav ul li {
  text-align: center;
  margin-right: 45px;
}
.header-nav ul li a {
  color: #333;
  font-weight: bold;
}
.header .menu {
  display: none;
}
.header-btn a {
  font-size: 14px;
  color: #fff;
  background: linear-gradient(to right, #fa41cc, #6020b0);
  padding: 10px 50px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  text-align: center;
}

/* main */
.main {
  background-image: url(../img/circle.png);
  background-position: top 105% right 10%;
  background-size: 43%;
  background-repeat: no-repeat;
  position: relative;
}
.main-inner {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 230px;
  padding-bottom: 150px;
}
.main-copy {
  text-align: left;
}
.main-copy h2 {
  font-size: 32px;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 45px;
}
.main-copy p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  margin-bottom: 45px;
}
.main-copy a {
  font-size: 14px;
  color: #fff;
  background: linear-gradient(to right, #fa41cc, #6020b0);
  padding: 10px 50px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  text-align: center;
}
.main-img {
  position: absolute;
  right: 25%;
  top: 29%;
  z-index: 1000;
}

/* feature */
.feature-inner {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
  padding-bottom: 150px;
}
.feature h2 {
  font-size: 32px;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
.feature-subtitle {
  color: #3ba6c9;
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  margin-bottom: 55px;
  text-align: center;
}
.feature-wrapper {
  padding-bottom: 60px;
}
.feature-wrapper h3 {
  font-size: 28px;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 50px;
  text-align: center;
}
.feature-wrapper img {
  width: 40%;
}
.feature-container {
  display: flex;
}
.feature-container-reverse {
  display: flex;
  flex-direction: row-reverse;
}
.feature-text {
  text-align: left;
  margin-left: 110px;
}
.feature-text h4 {
  font-size: 24px;
  line-height: 2;
  font-weight: bold;
  margin-bottom: 45px;
}
.feature-text p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: bold;
}
.feature-text-reverse {
  text-align: left;
  margin-right: 135px;
}
.feature-text-reverse h4 {
  font-size: 24px;
  line-height: 2;
  font-weight: bold;
  margin-bottom: 45px;
}
.feature-text-reverse p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: bold;
}

/* price */
.price {
  background-color: #eefbfb;
}
.price-inner {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 65px;
}
.price h2 {
  font-size: 32px;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
.price-subtitle {
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  text-align: center;
  color: #3ba6c9;
  margin-bottom: 70px;
}
.price-table {
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  margin-bottom: 35px;
}
.price-table tr {
  border: 1px solid #e5e5e5;
}
.price-table th {
  border-right: 1px solid #e5e5e5;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.7;
  width: 30%;
  padding: 35px 20px;
}
.price-table td {
  font-size: 16px;
  line-height: 1.7;
  font-weight: bold;
  padding-left: 30px;
}
.price p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: bold;
  text-align: center;
}

/* faq */
.faq-inner {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 55px;
  padding-bottom: 85px;
}
.faq h2 {
  font-size: 32px;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
.faq-subtitle {
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  text-align: center;
  color: #3ba6c9;
  margin-bottom: 30px;
}
.faq-list {
  border: 1px solid #e5e5e5;
  text-align: center;
}
.faq-list h3 {
  font-size: 14px;
  line-height: 1.8;
  font-weight: bold;
  padding: 5px 0;
  cursor: pointer;
}
.faq .answer {
  font-size: 14px;
  line-height: 1.8;
  font-weight: bold;
  text-align: left;
  background-color: #f2f2f2;
  padding: 10px 0 5px 35px;
  margin: 0;
  display: none;
}

/* blog */
.blog-inner {
  background-color: #eefbfb;
  margin-left: auto;
  margin-right: auto;
  padding-top: 55px;
  padding-bottom: 90px;
}
.blog h2 {
  font-size: 32px;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
.blog-subtitle {
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  text-align: center;
  color: #3ba6c9;
  margin-bottom: 55px;
}
.blog-card-wrapper {
  display: flex;
  justify-content: center;
}
.blog-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  width: 25%;
  margin-left: 20px;
  margin-right: 10px;
}
.blog-card-body {
  flex-grow: 1;
  padding: 5px 20px 0;
}
.blog-card-body h3 {
  flex-grow: 1;
  font-size: 18px;
  line-height: 1.4;
  font-weight: bold;
}
.blog-card-footer {
  padding-right: 30px;
}
.blog-card-footer p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: bold;
  text-align: right;
}

/* works */
.works-inner {
  margin-left: auto;
  margin-right: auto;
  padding-top: 55px;
  padding-bottom: 90px;
}
.works h2 {
  font-size: 32px;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
.works-subtitle {
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  text-align: center;
  color: #3ba6c9;
  margin-bottom: 70px;
}
.works .swiper-wrapper {
  display: flex;
  justify-content: center;
  margin-left: 27px;
}
.works .swiper-slide {
  display: flex;
  flex-direction: column;
  width: 18%;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-right: 50px;
}
.works .swiper-slide-body h3 {
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  padding: 5px 15px 5px 15px;
}
.works .swiper-slide-footer p {
  font-size: 14px;
  line-height: 1.4;
  font-weight: bold;
  padding: 0 0 20px 15px;
}

/* contact */
.contact {
  background: linear-gradient(to right, #05a5fa 33%, #63fbd7, #67ffd6);
}
.contact-inner {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 70px;
}
.contact h2 {
  font-size: 32px;
  line-height: 0.8;
  font-weight: bold;
  color: #fff;
  margin-bottom: 7px;
  text-align: center;
}
.contact-subtitle {
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  color: #fff;
  margin-bottom: 35px;
  text-align: center;
}
.contact h3 {
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  margin-bottom: 45px;
  color: #fff;
  text-align: center;
}
.contact form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 35px 60px 35px;
  text-align: left;
}
.contact .form-label {
  display: inline-block;
  font-size: 16px;
  line-height: 1.6;
  font-weight: bold;
  margin-bottom: 30px;
}
.contact .form-input {
  display: block;
  background-color: #eefbfb;
  width: 60%;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 25px;
}
.contact span {
  background-color: #0c449b;
  color: #fff;
  font-size: 14px;
  line-height: 1.8;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 10px;
  margin-left: 25px;
}
.contact textarea {
  display: block;
  background-color: #eefbfb;
  width: 100%;
  height: 180px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 20px;
}
.contact .form-check {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.contact .formcheckbox {
  width: 20px;
  height: 20px;
}
.contact .form-checklabel {
  font-size: 16px;
  line-height: 1.7;
  font-weight: bold;
  margin-left: 10px;
}
.contact .submit-btn {
  margin: 0 auto;
  width: 155px;
  background: linear-gradient(to right, #fa41cc, #6020b0);
  color: #fff;
  font-size: 14px;
  line-height: 1.4;
  font-weight: bold;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 10px 0;
  cursor: pointer;
}
.contact #submit[disabled] {
  opacity: 0.5;
}

/* footer */
.footer-inner {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 50px;
}
.footer h2 {
  font-size: 24px;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer a {
  font-size: 16px;
  line-height: 1.7;
  font-weight: bold;
  color: #333;
  margin-right: 30px;
  margin-left: 15px;
}
.footer a:last-of-type {
  margin: 0;
}
.footer p {
  font-size: 14px;
  line-height: 1.4;
  margin-top: 50px;
}

/* media phone */
@media only screen and (max-width: 599px) {
  .header-inner {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
  }
  .header-logo img {
    width: 80%;
    height: 80%;
  }
  .header-title {
    font-size: 18px;
  }
  .header-nav {
    display: none;
  }
  .header-nav ul {
    text-align: center;
  }
  .header-nav ul li {
    font-size: 14px;
  }
  .header .openbtn {
    position: fixed;
    top: 0;
    right: 0;
    position: relative;
    background: #fff;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 1px solid #444;
    border-radius: 5px;
  }
  .header .openbtn span {
    display: inline-block;
    position: absolute;
    transition: all 0.4s;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background: #444;
    width: 45%;
  }
  .header .openbtn span:nth-of-type(1) {
    top: 15px;
  }
  .header .openbtn span:nth-of-type(2) {
    top: 23px;
  }
  .header .openbtn span:nth-of-type(3) {
    top: 31px;
  }
  .header .openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    -webkit-transform: translateY(6px) rotate(-45deg);
            transform: translateY(6px) rotate(-45deg);
    width: 30%;
  }
  .header .openbtn.active span:nth-of-type(2) {
    opacity: 0;
  }
  .header .openbtn.active span:nth-of-type(3) {
    top: 30px;
    left: 18px;
    -webkit-transform: translateY(-6px) rotate(45deg);
            transform: translateY(-6px) rotate(45deg);
    width: 30%;
  }
  .header .menu ul li {
    margin-bottom: 15px;
  }
  .header .menu ul li a {
    color: #333;
    font-weight: bold;
  }
  .header .menu.active {
    display: block;
    position: fixed;
    top: 93px;
    right: 0;
    width: 100%;
    text-align: center;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }
  .header-btn {
    margin-left: 600px;
  }

  .main {
    background-size: 160%;
    background-position: top 30% right 50%;
  }
  .main-inner {
    padding-top: 120px;
    padding-bottom: 200px;
  }
  .main-copy {
    text-align: center;
  }
  .main-copy h2 {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .main-copy p {
    font-size: 14px;
  }
  .main-img {
    top: 72%;
    right: 20%;
    left: 20%;
  }

  .feature-inner {
    padding-bottom: 70px;
  }
  .feature h2 {
    font-size: 28px;
  }
  .feature-wrapper h3 {
    font-size: 24px;
  }
  .feature-container {
    flex-wrap: wrap;
  }
  .feature-container img {
    width: 80%;
    margin: 0 auto;
  }
  .feature-text {
    margin: 0 auto;
    padding-left: 10px;
  }
  .feature-text h4 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .feature-text p {
    font-size: 14px;
  }
  .feature-container-reverse {
    flex-wrap: wrap;
  }
  .feature-container-reverse img {
    width: 80%;
    margin: 0 auto;
  }
  .feature-text-reverse {
    margin: 0 auto;
    padding-left: 10px;
  }
  .feature-text-reverse h4 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .feature-text-reverse p {
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */