body {
    font-family: 'Noto Sans JP', sans-serif;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    vertical-align: bottom;
}

/* header */

.header-inner {
    max-width: 1180px;
    width: 80%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 30px;
}

.header-info {
    margin-top: 10px;
}

.header-time {
    font-size: 14px;
    color: #444;
    line-height: 1.4;
    margin-bottom: 7px;
}

.header-phone {
    display: flex;
    justify-content: flex-end;
}

.header-phone {
    display: flex;
    justify-items: center;
}

.header-phone a {
    font-size: 24px;
    color: #21a937;
    font-weight: bold;
}

.header-phone img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.header-phone span {
    padding-top: 7px;
}

/* main */

.main {
    height: 947px;
    background-image: url(../img/main.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 28px;
}

.main-wrapper {
    width: 78%;
    margin: 0 auto;
    padding: 133px 0;
}

.main-title {
    writing-mode: vertical-lr;
}

.main-inner {
    background-color: #fff;
    padding: 18px 37px 65px;
    font-size: 28px;
    font-weight: bold;
    color: #444;
    line-height: 1.2;
    margin-right: 80px;
    letter-spacing: 0.4rem;
}

.main-inner-color {
    color: #21a937;
}

/* content */

.content {
    padding: 162px 0 82px;
}

.content-inner {
    max-width: 1180px;
    display: flex;
    margin: 0 auto;
}

.content-wrapper {
    padding-right: 40px;
}

.content-title {
    font-size: 24px;
    font-weight: bold;
    color: #444;
    line-height: 1.45;
    margin: 0;
}

.content-title-1 {
    display: inline-block;
    background: linear-gradient(transparent 70%, #99e5a5 70%);
    padding-right: 8px;
}

.content-title-2 {
    display: inline-block;
    background: linear-gradient(transparent 70%, #99e5a5 70%);
    margin: 5px 0 5px;
}

.content-text {
    font-size: 16px;
    color: #444;
    line-height: 2.375;
}

.content-img {
    width: 690px;
    height: 420px;
    border-radius: 10px;
}

/* treatment */

.treatment {
    background-color: #f5fcf8;
}

.treatment-inner {
    max-width: 1180px;
    margin: 0 auto;
    text-align: center;
}

.treatment-title {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    color: #444;
    line-height: 1.58;
    background: linear-gradient(transparent 75%, #99e5a5 70%);
    margin: 78px 0 50px;
}

.treatment-info {
    font-size: 16px;
    line-height: 2.375;
    padding-bottom: 24px;
}

.treatment-wrapper {
    display: flex;
}

.card {
    position: relative;
    background-color: #fff;
    border: 2px solid #c9c9c9;
    border-radius: 10px;
    margin-right: 20px;
    width: calc((100% - 20px * 2) / 3);
    padding: 20px 28px 257px;
}

.card:last-child {
    margin-right: 0;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    color: #444;
    line-height: 1.58;
}

.card-text {
    text-align: left;
    font-size: 16px;
    color: #444;
    line-height: 2.375;
}

.card-img {
    width: 187px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
}